* {
     margin: 0;
     padding: 0;
}

/* start of header */
.parent {
     display: flex;
     justify-content: center;
     align-items: center;
}

.banner-area {
     margin-top: 50px;
     background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/banner.png');
     border-radius: 16px;
     width: 82%;
     max-width: 1320px;
     height: 600px;
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     align-items: center;
}


.content .section-greeting {
     color: #FFF;
     text-align: center;
     font-family: Merriweather;
     font-size: 32px;
     font-weight: 400;
}

.content .section-hero-text {
     color: #FFF;
     text-align: center;
     font-family: Merriweather;
     font-size: 72px;
     font-weight: 900;
}


/* End of header  */

/* Start of main  */

.middle-area {
     display: grid;
     place-items: center;
     margin-top: 120px;
}

.middle-area .sale {
     color: #f00;
     text-align: cr;
     font-size: 88px;
     font-family: Inter;
     font-weight: 800;

}

.middle-area .sale-description {
     margin-top: 48px;
     font-family: Inter;
     font-size: 24px;
     font-weight: 500;
     color: #f00;
     margin-bottom: 18px;
}

.middle-area .sale-heading {
     color: #070211;
     font-family: Inter;
     font-size: 48px;
     font-weight: 700;
     margin-bottom: 50px;
}

.middle-area .sale-img {
     width: 800px;
     height: 500px;
}

.middle-parent-1 {
     display: flex;
     justify-content: center;
     align-items: center;
}

.middle-area-1 {
     margin-top: 120px;
     background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
     border-radius: 16px;
     width: 82%;
     max-width: 1320px;
     height: 600px;
     background-repeat: no-repeat;
     display: flex;
     justify-content: center;
     align-items: center;

}

.victory-content {
     margin: 120px 120px 120px 120px;
     width: 50%;
}

.victory-img {
     width: 25%;
     height: auto;
     margin-right: 128px;
}

.victory-content .victory-heading {
     color: #FFF;
     font-family: Merriweather;
     font-size: 64px;
     font-style: normal;
     font-weight: 900;
}

.victory-content .victory-description {
     color: rgba(255, 255, 255, 0.80);
     font-family: Inter;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
}

.btn-primary {
     margin-top: 20px;
     padding: 10px 20px;
     font-size: 20px;
     font-family: inter;
     font-weight: 500;
     color: white;
     background-color: #F02811;
     border-radius: 6px;
     border: none;
}

.middle-parent-2 {
     display: grid;
     place-items: center;
     margin-top: 120px;
}

.middle-parent-2 .middle-area-2 {
     background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
     width: 82%;
     max-width: 1320px;
     height: 482px;
     border-radius: 16px;
     display: flex;
     align-items: center;
     justify-content: center;
}

.middle-area-2 .dicliaration {
     margin-bottom: 10px;
     color: #070211;
     text-align: center;
     font-family: Inter;
     font-size: 32px;
     font-weight: 600;
     text-transform: capitalize;
}

.middle-area-2 .span {
     color: #F02811;
}

.middle-area-2 .middle-content {
     text-align: center;
}

.middle-parent-3 {
     display: grid;
     place-items: center;
}

.middle-parent-3 .middle-area-3 {
     width: 82%;
     max-width: 1320px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 80px;

}

.middle-parent-3 .middle-content-1 {
     width: 100%;
     text-align: left;
}

.middle-content-1 .offer-heading {
     color: #F00;
     text-align: left;
     font-family: Inter;
     font-size: 24px;
     font-weight: 500;
     margin-bottom: 10px;

}

.middle-content-1 .offer-hero-text {
     color: #070211;
     font-family: Merriweather;
     font-size: 48px;
     font-weight: 900;
     text-transform: capitalize;
     margin-bottom: 10px;
}

.middle-content-1 .offer-description {
     color: rgba(7, 2, 17, 0.60);
     font-family: Inter;
     font-size: 20px;
     font-weight: 500;
     margin-bottom: 10px;
}

.middle-content-2 .offer-img {
     width: 360px;
     height: auto;
     padding: 30px;
     border: 15px solid #F00;
     border-radius: 300px;
}

.middle-area-3 .span {
     color: #F00;
     font-family: Inter;
     font-size: 48px;
     font-weight: 700;
     margin-bottom: 10px;
}

.middle-area-3 .offer-description {
     color: rgba(7, 2, 17, 0.60);
     font-family: Inter;
     font-size: 20px;
     font-weight: 500;
     margin-bottom: 10px
}

.middle-parent-4 {
     display: grid;
     place-items: center;
     margin-top: 120px;
}

.middle-area-4 {
     width: 82%;
     max-width: 1320px;
     justify-content: center;
     align-items: center;

}

.middle-area-4 h2 {
     color: #070211;
     text-align: center;
     font-family: Inter;
     font-size: 24px;
     font-weight: 500;

}

.middle-area-4 h1 {
     color: #070211;
     font-family: Merriweather;
     text-align: center;
     font-size: 72px;
     font-weight: 900;
}

.middle-area-4 span {
     color: #F00;
}

.middle-area-4 .offer-description {
     color: rgba(7, 2, 17, 0.60);
     text-align: center;
     font-family: Inter;
     font-size: 20px;
     font-weight: 500;
}

.middle-parent-5 {
     margin-top: 200px;
     display: grid;
     place-items: center;
}

.middle-content-1 {
     width: 82%;
     max-width: 1320px;


}

.img img {
     width: 420px;
     padding: 10px;
}

.img-container {
     display: inline-block;


}

/* Subscribe section */
.subscribe {
     margin-top: 150px;
     margin-bottom: 150px;
     display: grid;
     place-items: center;

}

.subscribe .subscribe-content {
     border-radius: 16px;
     background: rgba(255, 0, 0, 0.05);
     width: 82%;
     max-width: 1320px;
     height: 600px;
     justify-content: center;
}

.subscribe-content img {
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 80px;
}

.subscribe-content h2 {
     color: #070211;
     text-align: center;
     font-family: Merriweather;
     font-size: 48px;
     font-weight: 900;
     line-height: normal;
     text-transform: capitalize;
     margin-bottom: 20px;
}

.subscribe-content p {
     color: rgba(7, 2, 17, 0.60);
     text-align: center;
     font-family: Inter;
     font-size: 20px;
     font-weight: 400;
     line-height: 32px;
     margin: 0px 150px;
}

.form input[type="email"] {
     padding: 18px 30px;
     color: #070211;
     background: #FFF;
     width: 400px;
     border-radius: 40px 00px 0px 40px;
     border: none;
     color: rgba(7, 2, 17, 0.30);
     text-align: left;
     font-family: Inter;
     font-size: 18px;
     font-weight: 400;

}

.form {
     margin-top: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     vertical-align: middle;
}

.form button {
     margin-top: 6px;
     margin-left: -2px;
     padding: 17px 30px;
     border: none;
     background: #F00;
     color: #070211;
     color: #FFF;
     text-align: center;
     font-family: Inter;
     font-size: 20px;
     font-weight: 600;
     border-radius: 0px 40px 40px 0px;
}

/* end of main section */

.footer {
     display: grid;
     place-items: center;
     background-color: #070211;
     width: 100%;
     height: auto;
}

.footer .section-footer {
     width: 82%;
     max-width: 1320px;
     margin: 100px 0px;
}
.container-footer{
     display: flex;
     justify-content: space-between;

}

.section-footer .adress ,.section-footer .contact {
     margin: 50px 0px;
     color: #FFF;
     font-family: Inter;
     font-size: 24px;
     text-align: left;
     font-weight: 500;
     line-height: 40px;
}
.section-footer .container-img{
     margin: 50px 0px;
     display: flex;
     justify-content: center;
     gap: 20px;
}
.container-footer .line{
    background-color: red;
}